.login-container{
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

.error-message {
    background-color: #ffffcc;
    padding: 10px;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    margin-top: 10px;
  }
  